body {
  padding-top: 9vh;
  background-color: rgb(33, 33, 33);

  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
}

p {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}







.pu-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 11vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(22, 22, 22);
  z-index: 999;
}

.pu-h {
  display: flex;
  vertical-align: middle;
  height: 5.9vh;
  width: 180px;
  margin-left: 1.55rem;
}

.lp-h-pu {
  max-width:100%; 
  height:auto;
}







.title {
  font-size: 2rem;
  text-align: center;
}

.f-h {
  font-size: 0.9rem;
  text-align: center
}

.lugar-text {
  font-size: 0.7rem;
  text-align: center
}

.img-div {
  margin: 0 auto;
  width: 325px;
  height: 600px;
}

.img {
  width: 100%;
  height: auto;

}

