/* General */

body {
  padding-top: 9vh;
  background-color: rgb(33, 33, 33);

  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
}

p {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}




/* Header */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 11vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(22, 22, 22);
  z-index: 999;
}

.logo-div {
  display: flex;
  vertical-align: middle;
  height: 5.85vh;
  width: 170px;
  margin-left: 1.55rem;
  cursor: pointer;
}

.logo {
  max-width:100%; 
  height:auto;
}




/* Information */

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2.25rem;
}


.date-hour {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 0;
}


.location-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.location-text {
  text-align: center;
  font-size: 0.75rem;
}

.neon-loc-div {
  align-content: center;
  width: 1.8rem;
  margin-left: 0.7rem;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.neon-loc-image {
  width: 100%;
  height: auto;
}

.neon-loc-image:hover {
  transform: translateY(-0.5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 3); 
}


.entradas {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 0;
}



/* Grid */

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 0.7fr;
  align-items: start;
  column-gap: 1rem;
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.grid-nodesc {
   display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  align-items: start;
  column-gap: 0.1rem;
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}


@media (max-width:750px) {
    .grid {
      grid-template-columns: 1.5fr;
    }
  }


@media (max-width:750px) {
    .grid-nodesc {
      grid-template-columns: 1.5fr;
    }
  }



.flyer-div {
  text-align: center
}

.flyer {
  align-content: center;
  width: 100%;
  height: auto;
  max-width: 20rem;
}



.desc-div {
  align-items: center;
}

.desc-text {
  text-align: justify;
  font-size: 0.75rem;
  margin-top: 2rem;
}



.lineup-div {
  align-items: center;
}

.lineup-text {
  text-align: center;
  font-size: 0.9rem;
}

a {
  color: rgb(50, 27, 181);
}




/* Promo div */

.promo-maindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.promo-div {
  align-content: center;
  width: 2.8rem;
  margin-left: 0.7rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.promo-logo {
  width: 100%;
  height: auto;
}

.promo-logo:hover {
  transform: translateY(-0.5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 3); 
}


