.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 20px 20px -10px rgb(20, 18, 18);
  z-index: 999;
}

.logo-div {
  height: 6.4vh;
  width: 23.7vh;
  display: flex;
  vertical-align: middle;
}

.logo {
  max-width:100%; 
  height:auto;
}








.slogan-text {
  font-size: 0.55rem;
  color: rgb(167, 174, 197);
  text-align: center;
  margin-top: 5vh;
}

.header-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0.1vh;
  display: flex;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 -4px 12px 2px rgb(20, 18, 18); 
  z-index: 999; 
}
