body {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 33, 33);
  padding-top: 12vh; 
}

p {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}



