
.month-week-div {
  display: grid;
  grid-template-columns: 2rem 14fr;
  flex-direction: row;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-top: 0.2rem;
}

@media screen and (max-width: 768px) {
  .month-week-div {
    margin: 1.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;}
  }



.month-day-div {
  height: 5vh;
}

.week-day {
  width: 100%;
  height: 100%;
  text-align: center
}

.week-day-image {
  width: 97%;
  height: 100%;
}

.month-div {
  justify-items: center;
}

.month-text {
  font-size: 0.75rem;
  writing-mode: sideways-lr; /* Or vertical-lr */
  text-align: end;
  justify-content:right;
  margin: 0;
  padding-top: 0.75rem;
}



.current-week {
  height: 14vh;
  border: 3.9px solid rgb(195, 195, 195);
  border-radius: 1.5px;
}

.future-week {
  height: 14vh;
  border: 1.75px solid none;
  border-radius: 1.5px;
}

.week-button {
  width: 100%;
  height: 100%;
  background-color: rgb(33, 33, 33);
  cursor: pointer;
  transition: all 0.7s ease-in-out; 
}

.week-image {
  width: 100%;
  height: 100%;
}

.week-image:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 3.5); 
}




.final-text {
  font-size: 0.6rem;
  text-align: right;
  margin-left: 5rem;
  margin-right: 5rem;

}






/* playlist and contact */

.playlist-div {
  display: flex;
  flex-direction: row;
  vertical-align: top;
  justify-content: center;
  margin-left:7.5rem;
  margin-right: 7.5rem;
  margin-top: 5.25vh;
  margin-bottom: 1.5vh;
}


@media screen and (max-width: 768px) {
  .playlist-div {
    margin: 1.3rem;
    flex-direction: column;  
  }
  }




  .sc-mx {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 3rem;
  }




  .contact-button-div {
   display: flex;
   justify-content: center;
}

  .contact-button {
   margin-bottom: 5vh;
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   background-color: rgb(30, 30, 30);
   border: 1.2px solid white;
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.7s ease-in-out; 
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
   color: white;
}

.contact-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8); /* check horizontal shadow and black color intensity */
}





